@font-face {
  font-family: 'jetbrains-mono';
  src: url('../fonts/JetBrainsMono-Bold.woff2') format('woff2'),
    url('../fonts/JetBrainsMono-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
