.currently-reading-container {
  margin-top: 10px;
  /* Account for margin of title */
  margin-bottom: -16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.currently-reading-container p {
  margin-bottom: 0;
}

.currently-reading-thumbnail {
  border: 1px solid #888888;
  display: inline-block;
  border-radius: 2px;
  margin: 0 8px;
  padding: 0;
  line-height: 0;
  height: 37px;
}


.currently-reading-thumbnail img {
  margin-bottom: -12px;
  max-height: 35px;
}

