@import url('https://use.typekit.net/ixr7lrv.css');
@import "https://cdn.jsdelivr.net/npm/katex@0.16.25/dist/katex.min.css";
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

:root {
	font-family: neue-haas-unica, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@font-face {
	font-family: 'Berkeley Mono Variable';
	src: url('/Berkeley Mono Variable.woff2') format('woff2-variations');
	font-weight: 400 700;
	font-style: normal;
	font-display: swap;
}

@theme {
	--font-mono: 'Berkeley Mono Variable', monospace;
}

html,
body {
	overflow-x: hidden;
}
body {
	position: relative;
	@apply bg-slate-400;
}

@layer typography {
	/* 1. Hide the fake backticks that the typography plugin adds */
	.prose :where(code):not(:where([class~='not-prose'] *))::before,
	.prose :where(code):not(:where([class~='not-prose'] *))::after {
		content: '';
	}

	/* 2. Inline code as a slightly darker pill */
	.prose :where(code):not(:where([class~='not-prose'] *)) {
		@apply bg-slate-300 px-0.5 py-0.25 font-normal;
	}

	/* 3. Don’t double-style fenced code blocks */
	.prose :where(pre):not(:where([class~='not-prose'] *)) code {
		@apply bg-transparent p-0;
	}

	.prose :where(pre):not(:where([class~='not-prose'] *)) {
		@apply overflow-x-auto rounded-lg bg-slate-900 p-4;
	}

	.prose :where(strong):not(:where([class~='not-prose'] *)) {
		@apply font-medium;
	}

	.prose :where(h1):not(:where([class~='not-prose'] *)) {
		@apply text-2xl font-normal;
	}

	.prose :where(h2):not(:where([class~='not-prose'] *)) {
		@apply text-xl font-medium;
	}

	.prose :where(h3):not(:where([class~='not-prose'] *)) {
		@apply text-lg font-medium;
	}

	.prose :where(pre):not(:where([class~='not-prose'] *)) {
		@apply rounded-none;
		@apply p-3;
	}

	.prose :where(h1 a, h2 a, h3 a, h4 a, h5 a, h6 a):not(:where([class~='not-prose'] *)) {
		@apply no-underline;
	}

	.prose :where(h1 a, h2 a, h3 a, h4 a, h5 a, h6 a):not(:where([class~='not-prose'] *)):hover {
		@apply underline;
	}
}
