@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "@tailwindcss/typography";

:root {
  font-family: neue-haas-unica, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: "Berkeley Mono Variable";
  src: url("/Berkeley Mono Variable.woff2") format("woff2-variations");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-mono: "Berkeley Mono Variable", monospace;
}

html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
}
